
<br><br><br>
<div class="loginBox" align="center">
   <h1>Change Your Password</h1>

  <form #form1="ngForm" (ngSubmit)="submit()">

    <mat-form-field class="loginForm" appearance="standard">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" required minlength="5" [formControl]="fcOldPassword">
        <mat-error *ngIf="fcOldPassword.hasError('required')">
         Old Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="fcOldPassword.hasError('minlength')">
          Password should be <strong>atleast 5 charactes long!</strong>
        </mat-error>
    </mat-form-field><br>

    <mat-form-field class="loginForm" appearance="standard">
        <mat-label>New Password</mat-label>
        <input matInput type="password" required minlength="5" [formControl]="fcNewPassword">
        <mat-error *ngIf="fcNewPassword.hasError('required')">
          New Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="fcNewPassword.hasError('minlength')">
          New Password should be <strong>atleast 5 charactes long!</strong>
        </mat-error>
    </mat-form-field><br>

    <mat-form-field class="loginForm" appearance="standard">
        <mat-label>Re-enter New Password</mat-label>
        <input matInput type="password" required minlength="5" [formControl]="fcNewPassword2">
        <mat-error *ngIf="fcNewPassword2.hasError('required')">
         Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="fcNewPassword2.hasError('minlength')">
          Password should be <strong>atleast 5 charactes long!</strong>
        </mat-error>
        <mat-error *ngIf="this.passDontMatch">
          <strong>New Passwords DO NOT MATCH!</strong>
        </mat-error>
    </mat-form-field>
    <br><br>

    <!-- <button mat-raised-button [disabled]="!ngForm.valid">Submit</button> -->
    <button type="submit" mat-raised-button [disabled]="form1.invalid">Submit</button>

  </form>

</div>